*.cache
*.elc
*.txt
*.png
*.data
\.org-id-locations
tramp
ac-comphist\.dat
bookmarks
abbrev_defs
emacs\.d/auto-save-list/**
emacs\.d/elpa/**
emacs\.d/url/**
emacs\.d/packages/color-theme-6\.6\.0/**
emacs\.d/packages/ecb/**
emacs\.d/irony/**
emacs\.d/recentf
emacs\.d/snippets/**
emacs\.d/tutorial/**
emacs\.d/eshell/**
emacs.d/packages/git-emacs/**
emacs.d/packages/git-emacs
emacs.d/packages/ecb/**
emacs.d/packages/ecb
