*.cache
*.elc
*.txt
*.png
*.data
\.org-id-locations
tramp
ac-comphist\.dat
*.eld
bookmarks
abbrev_defs
flycheck*.el
auto-save-list/**
elpa/**
url/**
packages/color-theme-6\.6\.0/**
packages/ecb/**
irony/**
recentf
tutorial/**
eshell/**
images/**
*.rej
*.swp
flyspell*.el
/init.el.before_ecb*
ido*
